* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    height: 100vh;
    font-size: 1.6rem;
    line-height: 1.5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}
header{
    grid-area: 1 / 2 / 2 / 4;
    background-color: #e74c3c;
    place-items: center;

}
aside{
    grid-area: 1 / 1 / 4 / 2;
    place-items: center;

}
main{
    grid-area: 2 / 2 / 4 / 4;
    background-color: #2ecc71;
    place-items: center;
}
img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}


ul, ol {
    list-style: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
}

input, textarea, select {
    font: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
